.papers-right-column {
  margin-top: 15px;
}
.item {
  margin-bottom: 15px;
  //background-color: #efefef;
  //border-radius: 5px;
  text-align: center;
  padding: 25px;
  //box-shadow: 0 0 5px #e0e0e0;

  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 0 2px #bfbfbf;
}
